@page "/bostäder"
@using BaseLibrary.DTO
@inject BostadDtoService BostadDtoService
@inject BostadBildDtoService BostadBildDtoService
@inject NavigationManager NavigationManager

<div class="container">
<h1>Bostäder</h1>

@if (bostäder != null)
{
    var bostadCount = bostäder.Count();

    @for (int i = 0; i < bostadCount; i += bostäderPerRow)
    {
        var bostadRowList = bostäder.Skip(i).Take(bostäderPerRow).ToList();

        <div class="row mt-3">
            <DisplayBostäder Bostäder="@bostadRowList" BostadsBilder="@bostadsBilder"></DisplayBostäder>
        </div>
    }
}
else
{
    <p>Loading...</p>
}
</div>

@code {
    private IEnumerable<BostadDto> bostäder;
    private IEnumerable<BostadBildDto> bostadsBilder;

    const int bostäderPerRow = 4;

    protected override async Task OnInitializedAsync()
    {
        bostäder = await BostadDtoService.GetBostäderAsync();
        bostadsBilder = await BostadBildDtoService.GetBostadsBilderAsync();

    }
}