@page "/bostäder"
@using BaseLibrary.DTO
@inject BostadDtoService BostadDtoService
@inject NavigationManager NavigationManager

<h1>Alla Bostäder</h1>

@if (bostäder != null)
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bostad in bostäder)
            {
                <tr>
                    <td>
@*                         <button style="border: none; padding: 0;" @onclick="() => BostadsDetaljer(bostad)">
                            <img src=@bostadsBilder.FirstOrDefault(p=>p.BostadId==bostad.Id).BildURL height="200px" />
                        </button> *@
                    </td>
                    <td>@bostad.Adress</td>
                    <td>@bostad.Utgångspris kr</td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}

@code {
    private List<BostadDto> bostäder;

    protected override async Task OnInitializedAsync()
    {
        bostäder = await BostadDtoService.GetBostäderAsync();


    }

    private List<BostadBildDto> bostadsBilder;

    private void BostadsDetaljer(BostadDto bostad)
    {
        NavigationManager.NavigateTo($"/BostadsDetaljer/{bostad.Id}");
    }
}