@page "/bostäder"
@using BaseLibrary.DTO
@inject BostadDtoService BostadDtoService
@inject BostadBildDtoService BostadBildDtoService
@inject NavigationManager NavigationManager

<h1>Alla Bostäder</h1>

@if (bostäder != null)
{
    <DisplayBostäder Bostäder="@bostäder" BostadsBilder="@bostadsBilder"></DisplayBostäder>
}
else
{
    <p>Loading...</p>
}

@code {
    private IEnumerable<BostadDto> bostäder;
    private IEnumerable<BostadBildDto> bostadsBilder;

    protected override async Task OnInitializedAsync()
    {
        bostäder = await BostadDtoService.GetBostäderAsync();
        bostadsBilder = await BostadBildDtoService.GetBostadsBilderAsync();

    }
}