@page "/"

<PageTitle>Bostadsmolnet</PageTitle>

<h1>Välkommen</h1>
<br />
<p>På denna sida kan du hitta bostäder till salu.</p>
<br />
<img class="profil-image" src="/images/placeholder.jpg" alt="bostadsmolnet">