@page "/"

<PageTitle>Bostadsmolnet</PageTitle>
<img src="/images/Logga för sida.jpg" class="" alt="JulietBlazorApp">

<h3 class="mt-4">Grupp Juliet</h3>
<div class= "col mt-4 mb-4">
    <h4>Medlemmar</h4>
    <p>Johan Ahlqvist.</p>
    <p>Samir Legheliel</p>
    <p>Tobias Svensson.</p>
    <p>Tobias Uppenberg</p>
</div>

<h3 class="mt-4 mb-4">Lösningsbeskrivning</h3>
<div class="row">
    <div class ="col">
        <h4>API</h4>
        <p>ASP.net Core Web App .NET 8</p>
        <p>Identity</p>
        <p>JwtBearer</p>
    </div>
    <div class="col">
        <h4>Klient</h4>
        <p>Blazor Webassembly .NET 8</p>
        <p>Bootstrap</p>
    </div>
    <div class="col">
        <h4>Kommunikation</h4>
        <p>Discord</p>
        <p>Github</p>
    </div>
</div>

<h3 class="mt-4">Vad som gick bra i projektet </h3>
<div class="col mt-4 mb-4">
    <p>Bra start</p>
</div>

<h3 class="mt-4">Vad ni skulle gjort annorlunda om ni gjort om projektet. </h3>
<div class="col mt-4 mb-4">
    <p>Tidigare start med Identity</p>
    <p>En powerpoint</p>
</div>