@*
    Author: Johan Ahlqvist

*@
@page "/minprofil"
@using BaseLibrary.DTO
@using JulietBlazorApp.Providers
@using JulietBlazorApp.Services
@using JulietBlazorApp.Services.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider authStateProvider
@inject IAuthenticationService authService
@inject MäklareDtoService MäklareService
@inject NavigationManager navManager

<h3>Profil</h3>
<form>
    <div class="col-md-4">
        <div class="row">
            @if (!string.IsNullOrEmpty(profil.BildURL))
            {
                <img class="profil-image" src="@profil.BildURL" alt="Mäklarens profilbild">
            }
            else
            {
                <img class="profil-image" src="/images/userPlaceholder.png" alt="Mäklarens profilbild">
            }
            <div class="mb-2">
                <label for="imageURL" class="form-label mb-1">Bild URL</label>
                <input type="text" class="form-control" id="imageURL" @bind="profil.BildURL">
            </div>
        </div>
        <div class="mb-2">
            <label for="FirstName" class="form-label mb-1">Förnamn</label>
            <input type="text" class="form-control" id="FirstName" @bind="profil.Förnamn" required>
        </div>
        <div class="mb-2">
            <label for="LastName" class="form-label mb-1">Efternamn</label>
            <input type="text" class="form-control" id="LastName" @bind="profil.Efternamn" required>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" @onclick=" UpdateUser">Spara</button>
    </div>

</form>

@code {
    private MäklareDto profil = new MäklareDto();
    private string? mäklarId;

    private string? successMessage;

    protected override async Task OnInitializedAsync()
    {
        mäklarId = await ((ApiAuthenticationStateProvider)authStateProvider).GetId();
        profil = await MäklareService.GetMäklareAsync(mäklarId);
    }


    private async Task UpdateUser()
    {
        try
        {
            var successesfulResponse = await MäklareService.UpdateMäklareAsync(profil, mäklarId);

            if (successesfulResponse == true)
            {
                successMessage = $"Ändringarna har sparats";
            }
        }
        catch (Exception ex)
        {
            throw;
        }
    }
}
