@using BaseLibrary.DTO
@inject BostadBildDtoService BostadBildDtoService
@inject BostadKategoriDtoService BostadKategoriDtoService
@inject KommunDtoService KommunDtoService



<div class="modal" tabindex="-1" style="display:block;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ny Bostad</h5>
                <button type="button" class="btn-close" @onclick="ClickClose"></button>
            </div>
                <form>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <div class="mb-2">
                                    <label for="utgångspris" class="form-label mb-1">Utgångspris</label>
                                    <input type="number" class="form-control" id="utgångspris" @bind="utgångspris" required>
                                </div>

                                <div class="mb-2">
                                    <label for="månadsavgift" class="form-label mb-1">Månadsavgift</label>
                                    <input type="number" class="form-control" id="månadsavgift" @bind="månadsavgift">
                                </div>

                                <div class="mb-2">
                                    <label for="driftkonstnad" class="form-label mb-1">Driftkonstnad</label>
                                    <input type="number" class="form-control" id="driftkonstnad" @bind="driftkonstnad">
                                </div>
                            </div>

                            <div class="col">
                                <div class="mb-2">
                                    <label for="gatuadress" class="form-label mb-1">Gatuadress</label>
                                    <input type="text" class="form-control" id="gatuadress" @bind="gatuadress" required>
                                </div>

                                <div class="mb-2">
                                    <label for="ort" class="form-label mb-1">Ort</label>
                                    <input type="text" class="form-control" id="ort" @bind="ort" required>
                                </div>

                                <div class="mb-2">
                                    <label for="kommunId" class="form-label mb-1">Kommun</label>
                                    @if (kommuner != null)
                                    {
                                        <select @bind="kommunId" class="form-select" id="kommunId" required>
                                            @foreach (var kommun in kommuner)
                                            {
                                                <option value="@kommun.Id">@kommun.Namn</option>
                                            }
                                        </select>
                                    }
                                </div>

                            </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <div class="mb-2">
                                        <label for="boarea" class="form-label mb-1">Boarea</label>
                                        <input type="number" class="form-control" id="boarea" @bind="boarea" required>
                                    </div>

                                    <div class="mb-2">
                                        <label for="biarea" class="form-label mb-1">Biarea</label>
                                        <input type="number" class="form-control" id="biarea" @bind="biarea">
                                    </div>

                                    <div class="mb-2">
                                        <label for="tomtarea" class="form-label mb-1">Tomtarea</label>
                                        <input type="number" class="form-control" id="tomtarea" @bind="tomtarea">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="mb-2">
                                        <label for="antalrum" class="form-label mb-1">Antalrum</label>
                                        <input type="number" class="form-control" id="antalrum" @bind="antalrum">
                                    </div>

                                    <div class="mb-2">
                                        <label for="byggår" class="form-label mb-1">Byggår</label>
                                        <input type="number" class="form-control" id="byggår" @bind="byggår" required>
                                    </div>

                                    <div class="mb-2">
                                        <label for="kategoriId" class="form-label mb-1">Kategori</label>
                                        @if (bostadKategorier != null)
                                        {
                                            <select @bind="kategoriId" class="form-select" id="kategoriId" required>
                                                @foreach (var kategori in bostadKategorier)
                                                {
                                                    <option value="@kategori.Id">@kategori.Namn</option>
                                                }
                                            </select>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 mt-4">
                                <label for="objektbeskrivning" class="form-label mb-1">Objektbeskrivning</label>
                                <textarea class="form-control" id="objektbeskrivning" @bind="objektbeskrivning" rows="5" required></textarea>
                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @onclick="ClickClose">Avbryt</button>
                        <button type="submit" class="btn btn-primary" @onclick="ClickCreate">Skapa</button>
                    </div>
                </form>
        </div>
    </div>
</div>



@code {
    private BostadDto Bostad;
    private IEnumerable<BostadKategoriDto> bostadKategorier;
    private IEnumerable<KommunDto> kommuner;

    private int utgångspris;
    private int boarea;
    private int biarea;
    private int tomtarea;
    private int antalrum;
    private int? månadsavgift;
    private int driftkonstnad;
    private int byggår;

    private string? gatuadress;
    private string? ort;
    private string? objektbeskrivning;

    private int kategoriId;
    private int kommunId;
    private int? mäklarId;//no form for this, it will be used later.


    [Parameter]
    public EventCallback OnCancel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        bostadKategorier = await BostadKategoriDtoService.GetBostadKategorierAsync();
        kommuner = await KommunDtoService.GetkommunerAsync();
    }

    private async Task ClickClose()
    {
        await OnCancel.InvokeAsync();
    }

    private void ClickCreate()
    {
        Bostad = new BostadDto
        {
            Utgångspris = utgångspris,
            Boarea = boarea,
            Biarea = biarea,
            Tomtarea = tomtarea,
            Antalrum = antalrum,
            Månadsavgift = månadsavgift,
            Driftkonstnad = driftkonstnad,
            Byggår = byggår,
            Gatuadress = gatuadress,
            Ort = ort,
            Objektbeskrivning = objektbeskrivning,
            KategoriId = kategoriId,
            KommunId = kommunId,
            MäklarId = mäklarId
        };

        //I will Call the service here later.
    }
}