@using BaseLibrary.DTO


<div class="modal" tabindex="-1" style="display:block;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bekräfta borttagning</h5>
                <button type="button" class="btn-close" @onclick="ClickCancel"></button>
            </div>
            <div class="modal-body">
                Är du säker på att du vill ta bort den här bostaden?
            
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Adress</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @if (BostadsBilder.Any(p => p.BostadId == DeleteById))
                                {
                                    <img class="mini-image" src=@BostadsBilder.FirstOrDefault(p=>p.BostadId==DeleteById)?.BildURL alt="Bostadsbild">
                                }
                                else
                                {
                                    <img class="mini-image" src="/images/placeholder.jpg" alt="Bostadsbild">
                                }
                            </td>
                            <td>
                                @DeleteById
                            </td>
                            <td>
                                @Bostäder.FirstOrDefault(b => b.Id == DeleteById)?.Gatuadress
                            </td>
                            <td>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="ClickCancel">Avbryt</button>
                <button type="button" class="btn btn-danger" @onclick="ClickDelete">Ta Bort</button>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public int DeleteById { get; set; }

    [Parameter]
    public IEnumerable<BostadBildDto> BostadsBilder { get; set; }

    [Parameter]
    public IEnumerable<BostadDto> Bostäder { get; set; }

    [Parameter]
    public EventCallback<int> OnDelete { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }


    private async Task ClickDelete()
    {
        await OnDelete.InvokeAsync(DeleteById);
    }

    private async Task ClickCancel()
    {
        await OnCancel.InvokeAsync();
    }
}