@page "/mäklare/logout"
@using BaseLibrary.DTO
@inject NavigationManager navManager

<h3>Är du säker att du vill logga ut?</h3>

<button class="btn btn-primary" @onclick="() => HandleLogout()">Ja</button>

@code {
    private void HandleLogout()
    {
        
    }
}
